{% extends "base.html" %}

{% block cuerpo %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h1 class="center h3 mb-0 text-gray-800">Acerca del Proyecto...</h1>

</div>

<!-- Content Row -->

<div class="row">
    <div class="col-lg-6 form-horizontal" style="margin:0 auto" >
        <div class="card shadow mb-1">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nosotros</h6>
            </div>
            <div class="card-body">
                <strong>Participamos en la creación de este proyecto:</strong>
                
                <p><code>.Pablo Lisowyj</code></p>
                <p><code>.Tomas Ghi</code></p>
            </div>
        </div>
        
        <div class="card shadow mb-1">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Medios...</h6>
            </div>
            <div class="card-body">
                <p><strong>Investigacion</strong></p>
                <p><strong>Esfuerzo</strong></p>
                <p><strong>Trabajo en equipo</strong></p>
            </div>
        </div>

        <div class="card shadow mb-1">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Objetivo...</h6>
            </div>
            <div class="card-body">
                <strong>Presentar un trabajo que cumpla con los lineamientos solicitados, pero que nos incentive
                    a traves de una idea útil y real de alguna situacion cotidiana.</strong>
            </div>
        </div>
    </div>

    
</div>


{% endblock %}