{% extends "base.html" %}

{% block cuerpo %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">Lugar: Listado de turnos Atendibles</h1>

</div>

<!-- Content Row -->

<div class="row align-items-center justify-content-center">
    <div class="alert alert-warning w-50 text-center m-3">
        Para llamar, comience desde el primero de la lista: Atendido = NO
    </div>
    <div class="container w-75">
        <a class="btn btn-primary mb-4" href="{% url 'lugares' %}"><i class="fa fa-undo" type="button"></i> Actualizar</a>
    </div>
    <br />
    <div class="container w-75">

        {% if form %}

        <table class="table table-striped table-hover text-uppercase ">
            <thead>
                <tr>
                    <th scope="col">Trámite</th>
                    <th scope="col">Turno</th>
                    <th scope="col">Fecha Ingreso</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Atendido</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for ingreso in form %}
                <tr>
                    <td>{{ ingreso.tram_detalle }}</td>
                    <td>{{ ingreso.decorador }}{{ ingreso.contador }}</td>
                    <td>{{ ingreso.fec_ingreso }}</td>
                    <td>{{ ingreso.documento }}</td>

                    {% if ingreso.atendido == 'S' %}
                    <td>SI</td>
                    <td><a class="btn btn-warning" type="button" title="Revivir Atención"
                            href="{% url 'lugarRefresh' ingreso.id %}">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </td>

                    {% else %}
                        <td>NO</td>
                        <td>
                            <a class="btn btn-danger" type="button" title="Cancelar Atención"
                                href="{% url 'lugaratendido' ingreso.id %}">
                                <i class="fa fa-ban"></i>
                            </a>
                            <a class="btn btn-primary" type="button" title="Detalle para Atención"
                                href="{% url 'lugardetail' ingreso.id %}">
                                <i class="fa fa-bullhorn"></i>
                            </a>
                            
                        </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %}
        <div class="alert alert-primary w-100 text-center m-3" role="alert">
            No hay resultados.
        </div>
        {% endif %}
    </div>

</div>

{% endblock %}