{% extends "base_screen.html" %}

{% block cuerpo %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <div class="text-center mt-2">
                    <span>Copyright &copy; 2022</span>
                </div>
                <h1 id="titulo" class="text-white">Ud será llamado...</h1>
            </div>
        </div>
    </div>
    
    {% if form %}
        <center>
        <table class="table table-striped text-uppercase" style="width: 85%;">
            
            {% for anuncios in form %}
            <tr>
                {% if anuncios == first %}
                    <td class="text-center" style="width: 30%; background-color: aquamarine;font-size: 90px;font-weight: bold;">{{anuncios.decorador}}{{anuncios.contador}}</td>
                    <td style="width: 30%; background-color: aquamarine;font-size: 90px;font-weight: bold;">{{anuncios.lugar}}</td>
                {% else %}
                    <td class="text-center" style="width: 30%; background-color: beige;font-size: 50px;font-weight: bold;">{{anuncios.decorador}}{{anuncios.contador}}</td>
                    <td style="width: 30%; background-color: beige;font-size: 50px;font-weight: bold;">{{anuncios.lugar}}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        </center>
    {%endif %}
    
{% endblock %}