{% extends "base_screen.html" %}

{% block cuerpo %}
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <div class="text-center mt-2">
                    <span>Copyright &copy; 2022</span>
                </div>
                <h1 id="titulo" class="text-white">Ud será llamado...</h1>
            </div>
        </div>
    </div>
    
    <center>
    <div id="tablaturnos"></div>
    </center>
    
{% endblock %}