{% extends "base.html" %}

{% block cuerpo %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h1 class="h3 mb-0 text-gray-800">Detalle de Usuario</h1>

</div>

<!-- Content Row -->
{% load static %}
<div class="row align-items-center justify-content-center">
   
    
         <div class="card align-items-center  justify-content-center " style="width: 30rem;">
            <img src="{% static 'img/user.png'%}" class="card-img-top w-25 m-3">
            <div class="card-body">
                <center>
                <h2 class="card-title text-uppercase">{{object.first_name}} {{object.last_name}}</h2>
                <p class="card-text text-uppercase">Nombre de Usuario: <b>{{object.username}}</b></p>
                <p class="card-text text-uppercase">Email: <b>{{object.email}}</b></p>
                
                <a class="btn btn-info mb-4" href="{% url 'ulist' %}">Volver</a>
                </center>
            </div>
        </div>
    

</div>

{% endblock %}